#navbar-main {
    margin-bottom: 20px;
}

#register-btn {
    margin-left: 10px;
}

form {
    margin-bottom: 0px;
}

.author-link, .author-link:hover {
    color: black;
}

.hashtag-link, .hashtag-link:hover {
    color: #5bc0de;
}

.usertag-link, .usertag-link:hover {
    color: #818a91;
}

.center {
    text-align: center;
}

.drop-menu1 {
  margin-left: 100px;
}

.text-primary {

}

.image {
  object-position: center;
  object-fit: fill;
}
